<div class="userProfile-detail">
  <h1>{{userInfo.username}}</h1>
    <h2>Email: {{userInfo.email}}</h2>
    <h2>Favorites: </h2>
        <ul>
            {{#each userInfo.favorites}}
            <li>
                <a href="/centers/{{this._id}}">
                Center: {{this.location_name}}
                </a><br>
                Address: {{this.address_street}}<br>
            </li>
            {{/each}}
        </ul>
    <h2>Reviews: </h2>
        <ul>
            {{#each userInfo.reviews}}
            <li>
                Center: {{this.centerName}}<br>
                Rating: {{this.rating}}<br>
                Comment: {{this.comment}}<br>
            </li>
            {{/each}}
        </ul>
    <h2>Reports:</h2>
        <ul>
            {{#each userInfo.reports}}
            <li>
                Center: {{this.centerName}}<br>
                Issue type: {{this.issueType}}<br>
                Description: {{this.description}}<br>
                Current status: {{this.status}}<br>
            </li>
            {{/each}}
        </ul>

</div>